@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../public/Chat_App_backgroung.avif) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
